<h2>New Collection</h2>

<form action="/scotches" method="post" class='scotch' id="add_scotch">
  <div>
    <label for="scotch[name]">Name:</label>
    <input name="scotch[name]">
  </div>

  <div>
    <label for="scotch[year]">Year:</label>
    <input name="scotch[year]">
  </div>

   <div>
    <label for="scotch[blended]" value='false'>Blended?</label>
  </div>

  <div>
    <input type="submit" value="Add Scotch" class='btn'>
  </div>
</form>
